<div class="page-header">
    <h3>
        <!-- show title as link if it has one -->
        <a ng-show="post.link" href="{{ post.link }}">{{ post.title }}</a>
        <span ng-hide="post.link"> {{ post.title }}</span>
    </h3>
</div>

<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
    <span ng-click="incrementUpvotes(comment" class="glyphicon glyphicon-thumbs-up"></span>
    {{ comment.upvotes }} - by {{ comment.author }}
    <span class="comment-body">{{ comment.body}}</span>
</div>
